body {
  background: #ddd;
  font: 14px Arial;
  width: 90%;
  height: 95%;
  margin: auto;
  padding-top: 1%;
}

body, table {
  font: 12px Arial;
}

#visualizations {
  height: 90%;
  padding: 15px;
  border-radius: 3px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  background: #fff;
}

#summary {
  width: 98%;
  height: 20%;
  background: blue;
  margin: auto;
}

#map {
  width: 40%;
  height: 71%;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline;
  float: left;
}

.tabs {
  width: 56%;
  height: 71%;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline;
  float: right;
  background: #ddd;
  overflow: scroll;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.nvd3-svg {
  height: auto !important;
}

/*----- Tab Links -----*/

.tab-links {
  padding: 0px
}

.tab-links:after {
  display: block;
  clear: both;
  content: '';
}

.tab-links li {
  margin: 0px 5px;
  float: left;
  list-style: none;
}

.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  background: #7FB5DA;
  font-size: 16px;
  font-weight: 600;
  color: #4c4c4c;
  transition: all linear 0.15s;
}

.tab-links a:hover {
  background: #a7cce5;
  text-decoration: none;
}

li.active a, li.active a:hover {
  background: #fff;
  color: #4c4c4c;
}

/*----- Content of Tabs -----*/

.tab {
  display: none;
}

.tab.active {
  display: block;
}

