body {
  background:#ddd;
  font: 14px Arial;
  width: 90%;
  height: 95%;
  margin: auto;
  padding-top: 1%;
}

body, table {
  font: 12px Arial;
}

#visualizations {
  height: 90%;
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

#summary {
  width: 98%;
  height: 20%;
  background: blue;
  margin: auto;
}

#map {
  width: 48%;
  height: 71%;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  background: red;
  display: inline;
  float: left;
}

#polls {
  width: 48%;
  height: 71%;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  background: green;
  display: inline;
  float: right;
}