body {
  background: #ddd;
  font: 14px Arial;
  width: 90%;
  height: 95%;
  margin: auto;
  padding-top: 1%;
}

body, table {
  font: 12px Arial;
}

#visualizations {
  height: 90%;
  padding: 15px;
  border-radius: 3px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  background: #fff;
}

#summary {
  width: 98%;
  height: 130px;
  border-style: solid;
  border-color: #AAA;
  margin: auto;
}

#map {
  width: 40%;
  height: 71%;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline;
  float: left;
}

.tabs {
  width: 56%;
  height: calc(91% - 130px);
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline;
  float: right;

  overflow: scroll;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 2px;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.nvd3-svg {
  height: auto !important;
}

/*----- Tab Links -----*/

.tab-links {
  padding: 0px
}

.tab-links:after {
  display: block;
  clear: both;
  content: '';
}

.tab-links li {
  margin: 0px 5px;
  float: left;
  list-style: none;
}

.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  background: #7FB5DA;
  font-size: 16px;
  font-weight: 600;
  color: #4c4c4c;
  transition: all linear 0.15s;
}

.tab-links a:hover {
  background: #a7cce5;
  text-decoration: none;
}

li.active a, li.active a:hover {
  background: #fff;
  color: #4c4c4c;
}

/*----- Content of Tabs -----*/

.tab {
  display: none;
}

.tab.active {
  display: block;
}

#ExitPolls {
  width: 90%;
  margin: auto;
}

.statetooltip {
  padding: 2px;
  max-width: 300px;
  display: none;
  z-index: 10;
  background: white;
  cursor: pointer;
  opacity: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 2px #666;
  -moz-box-shadow: 0 0 2px #666;
  box-shadow: 0 0 2px #666;
  overflow: hidden;
  text-align: left;
}

.statetooltip .county-name {
  font-size: 13px;
  padding: 2px;
}
.statetooltip table {
  width: 96%;
}

.statetooltip table td.res-cand-name {
  min-width: 120px;
  font-weight: bold;
}

.statetooltip table td.vote-count {
  min-width: 70px;
}

.GOP {
  background-color: #C43D49;
  border: 1px solid #C43D49;
  color: #fff;
}

.Dem {
  background-color: #5186B4;
  border: 1px solid #5186B4;
  color: #fff;
}

#poll_cat {
  width: 300px;
}

.poll-options {
  width: 90%;
}